
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite de Pruebas - Proyecto QA Bomberos" verbose="1">

    <!-- Test Suite para Login -->
    <test name="Login Tests" preserve-order="true">
        <classes>
            <class name="com.bombero.tests.LoginLogoutTest"/>
        </classes>
    </test>

    <!-- Test Suite para Inventario -->
    <test name="Inventory Tests" preserve-order="true">
        <classes>
            <class name="com.bombero.tests.InventoryManagementTest"/>
        </classes>
    </test>

</suite>